<launch>
    <node pkg="rviz"  type="rviz"  name="rviz"  args="-d $(find mapping_matching)/rviz/matching.rviz"></node>
    <node pkg="mapping_matching"  type="data_pretreat_node"  name="data_pretreat_node"  output="screen"></node>
    <node pkg="mapping_matching"  type="matching_node"  name="matching_node"  output="screen"></node>
        <!--node pkg="tf"  type="static_transform_publisher"  name="imu_to_lidar"  args="0 0 0 0 0 0 1  /laser_link /imu_link 100"></node-->
</launch>